
        .hero {
            background-color: #ffc107;
            color: white;
            padding: 100px 20px;
            text-align: center;
        }
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        main {
            flex: 1;
            padding: 20px;
        }
        footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }
        .footer-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            max-width: 1200px;
            margin: 0 auto;
        }
        .footer-nav ul {
            list-style: none;
            padding: 0;
        }
        .footer-nav ul li {
            margin: 5px 0;
        }
        .footer-nav ul li a {
            color: #fff;
            text-decoration: none;
        }
        .footer-nav ul li a:hover {
            text-decoration: underline;
        }
        .footer-social a {
            margin: 0 10px;
            color: #fff;
            font-size: 24px;
            text-decoration: none;
        }
        .footer-social a:hover {
            color: #ccc;
        }
        .footer-contact p {
            margin: 5px 0;
        }
        .footer-contact a {
            color: #fff;
            text-decoration: none;
        }
        .footer-contact a:hover {
            text-decoration: underline;
        }
        @media (max-width: 768px) {
            .footer-container {
                flex-direction: column;
                align-items: center;
            }
            .footer-social {
                margin: 10px 0;
            }
        }
    

/* Styles for Section 2 */
.section-2 {
    background-color: #f0f0f0; /* Cambiado a un gris ligero */
    padding: 40px 20px;
    margin-top: 20px;
    border: 2px solid #8a8c8d;
}

.section-title {
    font-size: 24px;
    margin-bottom: 20px;
    padding: 5px 10px;
    background-color: #6c757d;
    color: white;
    border-radius: 5px;
    display: inline-block;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-size: cover;
    background-position: center;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}
